$body_bg_color: #21232e;
$header_bg: url(../img/m-h-night.jpg);
$body_fonts: 'Hind', sans-serif;
$buttons_color: #e3ac00;
$header_color: #ffffff;
$header_text_color: #d1c6ac;
$content_bg_color: #3b3f50;
$gradient: linear-gradient(to right, #E2AD0D, #CA5744);
$underline_color: #ff4e33;